<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/masonry.pkgd.min.js"></script>
</head>

<body>
<div id="container">
  <div> <h1 id="title"> instarecipe </h1> </div>
</div>
<div class="pics">
  <% for(var i = 0; i < 20; i++) {%>
   <img src="<%= recipes[i].thumbnail %>"></img>
   <p><%= recipes[i].description %></p>
   <p><%= recipes[i].image %></p>
  <% } %>
</div>
</body>

</html>
