<div id="container">
    <div class="masonryImage">
        <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&docid=m0ZJ5tDXNXs2DM&tbnid=LhLfcaMh8mehJM:&ved=0CAUQjRw&url=http%3A%2F%2Ftippvet.com%2Fhow-to-find-the-best-cat-veterinarian%2F&ei=iHBHUvPPF4XVqAH3yICoCA&bvm=bv.53217764,d.aWM&psig=AFQjCNG5RhlgQIrtbDyZkRZzlRe1GkB5bA&ust=1380499970248435" alt="">
    </div>
         
    <div class="masonryImage">
        <img src="http://designshack.co.uk/wp-content/uploads/http://lorempixum.com/200/150/food/10" alt="">
    </div>
         
    <div class="masonryImage">
        <img src="http://designshack.co.uk/wp-content/uploads/http://lorempixum.com/200/250/food/3" alt="">
    </div>
 
    . . .
     
</div>
    
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script>
  $(function(){
 
    var $container = $('#container');
   
    $container.imagesLoaded( function(){
      $container.masonry({
        itemSelector : '.masonryImage'
      });
    });
   
  });
</script>
