#title {
  float:left;
  text-align:left;
  font-size: 50px;
  padding-left:50px;
  padding-bottom:10px
  color: red;
}

h1 {
    display:inline-block;
}

#title2 {
    float:left;
    text-align:left;
    opacity:0.6;
    font-size:50px;
    padding-bottom:10px
}

#container {
    position: absolute;
  margin-left:auto;
  margin-right:auto
}
.outer-center {
  width:100%;
  text-align: center;
}
.inner-center {
  margin: 0 auto;
}
.clear {
  clear: both;
}
h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-
  display: inline-block;
}
@-webkit-keyframes image_blur {
  0% { -webkit-filter: blur(0px);}
  50% { -webkit-filter: blur(5px);}
  100% { -webkit-filter: blur(0px);}
}

.foodPic {
  /*BLUR*/
  padding: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.foodPic:hover {
  -webkit-animation: image_blur 0.75s; 
}

#modalImage {
  width: 100%;
}

